# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.webp binary

# Videos
*.mp4 binary
*.mov binary
*.avi binary
*.webm binary

# Code
*.css text
*.js text
*.json text
*.html text

# Archives
*.zip binary
*.tar binary
*.gz binary
*.rar binary

